* {
  box-sizing: "border-box";
  margin: 0;
  padding: 0;
  font-family: "DM Sans", system-ui;
}

.dm-sans {
  font-family: "DM Sans", system-ui;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efeff1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b6bcc88c;
  border-radius: 8px;
}